# Server Port
PORT=5000

# Secret Key for JWT Tokens
JWT_SECRET=your_jwt_secret_key_here

# MongoDB Atlas Persistent Database Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/shri_datta_dairy?retryWrites=true&w=majority

# Cloudinary Cloud Image Storage Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Optional: WhatsApp API Config
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_OWNER_NUMBER=917795687471
